<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RoverOperator.Properties.NetworkSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="RoverOperator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />            
        </sectionGroup>
    </configSections>
    <userSettings>
        <RoverOperator.Properties.NetworkSettings>
            <setting name="CameraPort1" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="CameraPort2" serializeAs="String">
                <value>3001</value>
            </setting>
            <setting name="CameraPort3" serializeAs="String">
                <value>3002</value>
            </setting>
            <setting name="StatusUpdatePort" serializeAs="String">
                <value>5001</value>
            </setting>
            <setting name="RoverIPAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="CommandsPort" serializeAs="String">
                <value>5000</value>
            </setting>
        </RoverOperator.Properties.NetworkSettings>
        <RoverOperator.Properties.Settings>
            <setting name="StatusUpdateInterval" serializeAs="String">
                <value>500</value>
            </setting>
        </RoverOperator.Properties.Settings>
    </userSettings>
</configuration>