<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RoverOperator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MarsRoverClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RoverOperator.Properties.Settings>
            <setting name="RoverIPAddress" serializeAs="String">
                <value>10.10.10.10</value>
            </setting>
            <setting name="CameraPort1" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="CameraPort2" serializeAs="String">
                <value>3001</value>
            </setting>
            <setting name="CameraPort3" serializeAs="String">
                <value>3002</value>
            </setting>
        </RoverOperator.Properties.Settings>
        <MarsRoverClient.Properties.Settings>
            <setting name="MotorsUpdateInterval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="BatteryUpdateInterval" serializeAs="String">
                <value>2000</value>
            </setting>
        </MarsRoverClient.Properties.Settings>
    </userSettings>
</configuration>