<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Rover.Properties.NetworkSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        <section name="Rover.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Rover.Properties.NetworkSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="Rover.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><applicationSettings>
        <Rover.Properties.NetworkSettings>
            <setting name="CommandsPort" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="OperatorIPAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
        </Rover.Properties.NetworkSettings>
        <Rover.Properties.Settings>
            <setting name="CommandsPort" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="OperatorIPAddress" serializeAs="String">
                <value>10.10.10.11</value>
            </setting>
        </Rover.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Rover.Properties.NetworkSettings>
            <setting name="CameraBasePort" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="OperatorCommandsPort" serializeAs="String">
                <value>5001</value>
            </setting>
        </Rover.Properties.NetworkSettings>
        <Rover.Properties.Settings>
            <setting name="CameraBasePort" serializeAs="String">
                <value>3000</value>
            </setting>
        </Rover.Properties.Settings>
    </userSettings>
</configuration>
