<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MarsRover.Properties.NetworkSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MarsRover.Properties.NetworkSetting>
            <setting name="OperatorIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="CameraBasePort" serializeAs="String">
                <value>3000</value>
            </setting>
        </MarsRover.Properties.NetworkSetting>
    </userSettings>
</configuration>